
.side-list:hover{
    background-color: rgb(33, 33, 224) !important;
}
a{
    text-decoration: none !important;
}

.cutive-regular {
    font-family: "Cutive", serif;
    font-weight: 400;
    font-style: normal;
  }

.arrow {
    padding: 2px;
    font-size: small !important;
}
  
.sidebar{
    position: fixed;
}